#leaderboard{
  background-color: gray;
  border-radius: 2px;
}

.leaderboard-title{
 text-align: center;
 padding: 20px !important;
}
#leaderboard-table{
  width: 100%;
  text-align: center;
}

tr{
  padding: 10px;
}
