<div class="card text-center">
  <div class="card-header">
    <h3 class="leaderboard-title"><i class="fas fa-trophy"></i> Leaderboard</h3>
  </div>
  <div class="card-body">
    <div class="table-wrapper-scroll-y">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th *ngIf="i < 10"  scope="row">{{ i + 1 }}</th>
            <td *ngIf="i < 10">{{ user.naam }}</td>
            <td *ngIf="i < 10">{{ user.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>
