 <nav class="navbar navbar-expand-md sticky-top navbar-light">
  <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/jstackLogo.png" class="" width="100px"/></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto" (click)="isCollapsed = !isCollapsed">
      <li class="nav-item">
        <a class="nav-link" routerLink="/opdrachten"><i class="fas fa-tasks"></i>{{ 'header.assignments' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rewardshop" *ngIf="loggedIn"><i class="fas fa-award"></i>{{ 'header.rewards' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/useroverzicht" *ngIf="loggedIn"><i class="fas fa-user"></i>{{ 'header.overview' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav " *ngIf="loggedIn && currentuser.type == 'admin'">
      <li class="dropdown" ngbDropdown autoClose="inside">
        <a class="nav-link dropdown-toggle" id="manageDropdown" ngbDropdownToggle>{{ 'header.adminDropdown' | translate }}</a>
        <div class="dropdown-menu dropdown" aria-labelledby="manageDropdown" ngbDropdownMenu (click)="isCollapsed = !isCollapsed">
            <a class="nav-link" routerLink="/approveassignements">{{ "header.approve" | translate }}</a>
            <a class="nav-link" routerLink="/opdrachtencrud">{{ 'header.adminAssignments' | translate }}</a>
            <a class="nav-link" routerLink="/rewardscrud">{{ 'header.adminRewards' | translate }}</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item userCoins">
        <p class="nav-link" *ngIf="loggedIn == true">{{currentuser.naam}}<i class="fas fa-coins"><span>{{currentuser.totaalScore}}</span></i><button ngbTooltip="refresh" class="btn btn-link text-success" (click)="updateCoins()" ><i class="fas fa-sync-alt"></i></button></p>
      </li>
      <li class="nav-item divider" *ngIf="!loggedIn">
        <a class="nav-link" [routerLink]="[{ outlets: { primary: ['login'],sidebar: ['login'] } }]">{{ 'header.login' | translate }}</a>
      </li>
      <li class="nav-item divider" *ngIf="loggedIn">
        <a class="nav-link" href (click)="logout()">{{ 'header.logout' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav language">
      <li class="dropdown" ngbDropdown autoClose="inside">
        <a class="nav-link dropdown-toggle" id="dropdownLanguage" ngbDropdownToggle>{{ 'header.language' | translate }}</a>
        <div class="dropdown-menu dropdown" aria-labelledby="dropdownLanguage" ngbDropdownMenu (click)="isCollapsed = !isCollapsed">
          <a class="dropdown-item" routerLink="" (click)="changeLanguage('en')">{{ 'header.language.en' | translate }}</a>
          <a class="dropdown-item" routerLink="" (click)="changeLanguage('nl')">{{ 'header.language.nl' | translate }}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
