

nav{
    background-color:white;
    border-bottom: 2px solid #f49900;
    box-shadow: 0px 0px 4px 0px;
}

.navbar-brand{
    margin: 0;
}

.nav-item{
    position: relative;
    right:10px;
}

a{
    color:#333e47;
    text-decoration: none;
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a:hover{
    color: #f49900;
    text-decoration: none;
    transition: all 0.1s;
    
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }