<form class="login-form container">
  <table class="login-full-width" cellspacing="0">
    <tr>
      <td>
        <div class="form-group">
          <input type="text" placeholder="Enter your email" [formControl]="email" required>
          <div class="error" *ngIf="email.invalid">{{getErrorMessageMail()}}</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <input type="password" placeholder="Wachtwoord" [formControl]="password" required>
          <div class="error" *ngIf="password.invalid">{{getErrorMessagePassword()}}</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary">Log in</button>
     </td>
    </tr>
  </table>
</form>