

.card{
  padding: 50px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.login-form{ text-align:center;}

.login-form  .btn.btn-primary {
  color:  #F49900;
  border-color: #f0ad4e;
  font-size: 14px;
  width: 100%;
}
