<div class="card">
  <div class="card-header">
    <H4 class="leaderboard-title">Assignments</H4>
  </div>
  <div class="row">
    <div *ngFor="let opdracht of (allAssignments)" class="card col-md col-sm-5 assignment">
      <img class="card-img-top" src="../../assets/images/presentation.jpeg" alt="Presentation">
      <div class="card-body">
        <h5 class="card-title">{{opdracht.titel}}</h5><i class="fas fa-coins"><span>{{opdracht.punten}}</span></i>
        <p class="card-text">{{opdracht.omschrijving}}</p>
        <p class="card-text">Startdatum: {{opdracht.beginDatum}}<br/>Einddatum: {{opdracht.eindDatum}}</p>
      </div>
    </div>
  </div>
  <ngb-pagination class="paginator d-flex justify-content-center"  [collectionSize]="((allAssignmentsCount)/6)*10"[(page)]="currentPage" size="sm"></ngb-pagination>
  <pre>{{allAssignments | json}}</pre>
</div>


<!--<div class="card">-->
  <!--<div class="card-header">-->
    <!--<H4 class="leaderboard-title">Assignments</H4>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div *ngFor="let opdracht of (getAllAssignments((currentPage *6)-6, currentPage *6));"-->
         <!--class="card col-md col-sm-5 assignment">-->
      <!--<img class="card-img-top" src="../../assets/images/presentation.jpeg" alt="Presentation">-->
      <!--<div class="card-body">-->
        <!--<h5 class="card-title">{{opdracht.titel}}</h5><i class="fas fa-coins"><span>{{opdracht.punten}}</span></i>-->
        <!--<p class="card-text">{{opdracht.omschrijving}}</p>-->
        <!--<p class="card-text">Startdatum: {{opdracht.beginDatum}}<br/>Einddatum: {{opdracht.eindDatum}}</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<ngb-pagination class="paginator d-flex justify-content-center" [collectionSize]="(allAssignmentsCount/6) * 10" [(page)]="currentPage"-->
                  <!--size="sm"></ngb-pagination>-->
  <!--<pre>{{allAssignmentsCount | json}}</pre>-->
  <!--<pre>{{allAssignments | json}}</pre>-->
<!--</div>-->
