.row{
  margin: 0;
}
.assignment{
  margin: 5px !important;
  padding: 0 !important;
}

h5{
  display: inline;
}
i{
  color: gold;
  float: right;
  display: inline;
  span{
    color: black;
    margin: 5px;
  }
}
