.row {
  margin: 0;

  .loadingbar{
    margin: 10px;
  }
  h5 {
    display: inline;
  }

  .assignment {
    margin: 5px !important;
  }
  i.fa-coins {
    color: gold;
    float: right;
    display: inline;
    span {
      color: black;
      margin: 5px;
    }
  }
}


