<div class="card">
  <div class="card-header">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="searchIcon"><i class="fas fa-search"></i></div>
          <input type="text" class="form-control col-md-2 searchField" name="searchString" placeholder="{{ 'rewardsCrud.search' | translate }}"
            [(ngModel)]="searchString">
        </div>
      </div>
    </form>
  </div>
  <!--HEADER-->
  <div class="fixed_header">
    <table class="table mt-3 table-hover">
      <thead>
        <tr>
          <th>{{ 'rewardsCrud.name' | translate }}</th>
          <th class="text-center">{{ 'rewardsCrud.points' | translate }}</th>
          <th class="text-center">{{ 'rewardsCrud.available' | translate }}</th>
          <th class="text-center">
            <button type="button" (click)="open(add)" class="btn btn-link addChangeDelBtn" placement="top" ngbTooltip="{{ 'rewardsCrud.addNewReward' | translate }}"><i
                class="fas fa-plus-circle fa-lg"></i></button>
          </th>
        </tr>
      </thead>
      <!--REWARDS-->
      <tbody>
        <tr *ngFor="let reward of rewards | filter : searchString;">
          <td>
            <div>{{ reward.naam }}</div>
          </td>
          <td class="text-center">{{ reward.punten }}</td>
          <td class="text-center">{{reward.beschikbaar ? 'Yes' : 'No'}}</td>
          <td class="text-center">
            <button (click)="editReward(reward._id); open(edit)" class="btn addChangeDelBtn btn-link" placement="top"
              ngbTooltip="{{ 'rewardsCrud.changeReward' | translate }}"><i class="fas fa-edit"></i></button>
            <button (click)="deleteReward(reward._id)" class="btn btn-link addChangeDelBtn" placement="top" ngbTooltip="{{ 'rewardsCrud.deleteReward' | translate }}"><i
                class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--MODAL ADD REWARD-->
<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'rewardsCrud.addNewReward' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="RewardsForm" (ngSubmit)="addReward()">
      <!--NAME-->
      <div class="form-group">
        <label for="name">{{ 'rewardsCrud.name' | translate }}</label>
        <div class="input-group">
          <input id="name" formControlName="name" class="form-control" placeholder="{{ 'rewardsCrud.name' | translate }}" [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
            required />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors.required">{{ 'rewardsCrud.required' | translate }}</div>
          </div>
        </div>
      </div>
      <!--POINTS-->
      <div class="form-group">
        <label for="points">{{ 'rewardsCrud.points' | translate}}</label>
        <div class="input-group">
          <input id="points" formControlName="points" class="form-control" type="number" placeholder="{{ 'reward.points' | translate }}" [ngClass]="{ 'is-invalid': points.invalid && (points.dirty || points.touched) }"
            required />
          <div *ngIf="points.invalid && (points.dirty || points.touched)" class="invalid-feedback">
            <div *ngIf="points.errors.required">{{ 'rewardsCrud.required' | translate }}</div>
          </div>
        </div>
      </div>
      <!--AVAILABLE-->
      <div class="form-group">
        <input id="available" type="checkbox" formControlName="available" />
        <label for="available">{{ 'rewardsCrud.available' | translate }}</label>
      </div>
    </form>
  </div>
  <!--SUBMIT-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addReward()" [disabled]="RewardsForm.invalid">{{
      'rewardsCrud.save' | translate }}</button>
  </div>
</ng-template>
<!--MODAL EDIT REWARD-->
<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'rewardsCrud.edit' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="RewardsForm" (ngSubmit)="saveEdit()">
      <!--NAME-->
      <div class="form-group">
        <label for="name">{{ 'rewardsCrud.name' | translate }}</label>
        <div class="input-group">
          <input id="name" formControlName="name" class="form-control" placeholder="{{ 'reward.name' | translate }}" [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
            required />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors.required">{{ 'rewardsCrud.required' | translate }}</div>
          </div>
        </div>
      </div>
      <!--POINTS-->
      <div class="form-group">
        <label for="points">{{ 'rewardsCrud.points' | translate }}</label>
        <div class="input-group">
          <input id="points" formControlName="points" class="form-control" type="number" placeholder="{{ 'reward.points' | translate }}" [ngClass]="{ 'is-invalid': points.invalid && (points.dirty || points.touched) }"
            required />
          <div *ngIf="points.invalid && (points.dirty || points.touched)" class="invalid-feedback">
            <div *ngIf="points.errors.required">{{ 'rewardsCrud.required' | translate }}</div>
          </div>
        </div>
      </div>
      <!--AVAILABLE-->
      <div class="form-group">
        <input id="available" type="checkbox" formControlName="available" />
        <label for="available">{{ 'rewardsCrud.available' | translate }}</label>
      </div>
    </form>
  </div>
  <!--SUBMIT-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveEdit()" [disabled]="RewardsForm.invalid">{{
      'rewardsCrud.save' | translate }}</button>
  </div>
</ng-template>