<div class="content">
  <h1 class="text-center">Hello there!</h1>
  <div class="col-md-6 col-centered">
    <p>Welcome on the jstack Rewards application.</p>
    <p>Here you can find all assignments that you can complete to earn points. When you have enough point
      you can spends those in the rewards shop. On the overview page you can see all available assignments.
    </p>
    <p class="quote">" Hard work never killed anybody, but why take a chance? " - Edgar Bergen</p>
    <!--<p class="quote">" Age is something that doesn't matter, unless you are a cheese " - Luis Bunuel</p>-->
  </div>
</div>
