.content{
  text-align: center;

  h1{
    color: #333d47;
  }
  .col-centered{
    display:inline-block;
    margin: 20px;

    .quote{
      color: #08ace1;
      font-family: "Bookman Old Style";
      font-style: italic;
      font-size: 13px;
      margin-top: 5%;
    }
  }
}

