<div class="content">
  <h1 class="text-center">{{ 'welcom.hello' | translate }}</h1>
  <div class="col-md-6 col-centered">
    <p>{{ 'welcom.text1' | translate }}</p>
    <p>
      {{ 'welcom.text2' | translate }}
      <br/>
      {{ 'welcom.text3' | translate }}
    </p>
    <p class="quote">" Hard work never killed anybody, but why take a chance? " - Edgar Bergen</p>
    <!--<p class="quote">" Age is something that doesn't matter, unless you are a cheese " - Luis Bunuel</p>-->
  </div>
</div>
