$theme-colors: (
  'primary': #ffffff
);
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.page-item .page-link{
  color: black;
  background-color: white;
  transition: all 0.3s;
}
.page-item:hover .page-link:hover{
  border-color: #F49900;
  border-radius: 3px;
  transition: all 0.3s;
}
.page-item.active .page-link{
  color: black;
  border-color: #F49900;
  border-radius: 3px;

}
.fa-trophy{
  padding-right: 20px;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #f49900;
}


.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 1s;
}
@Keyframes delayedFadeIn {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}
