<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-header">
        <h5>Mijn gegevens</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.naam}}</h5>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">
          Totaal aantal punten verzameld: <span>{{user.punten}}</span>
        </li>
        <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Aantal opdrachten voltooid: <span>{{(opdrachten$ | async)?.length}}</span></li>
        <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Aantal rewards geclaimd: <span>{{(rewards$ | async)?.length}}</span></li>
      </ul>
    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="card ">
      <div class="card-header">
        <h5>Mijn opdrachten</h5>
      </div>
      <div style="max-height: 400px; overflow-y: scroll">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let opdracht of (opdrachten$ | async)">
            {{opdracht.opdracht.titel}} <span>{{opdracht.punten}} <i class="fas fa-coins" style="color:gold"></i></span>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="card ">
      <div class="card-header">
        <h5>Mijn rewards</h5>
      </div>
      <div style="max-height: 400px; overflow-y: scroll">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let reward of (rewards$ | async)">
            {{reward.reward.naam}} <span>{{reward.punten}} <i class="fas fa-coins" style="color:gold"></i></span>
          </li>

        </ul>
      </div>

    </div>
  </div>



</div>
