<div class="card">
  <div class="card-header">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="searchIcon"><i class="fas fa-search"></i></div>
          <input type="text" class="form-control col-md-2 searchField" name="searchString" placeholder="{{ 'rewardsCrud.search' | translate }}"
            [(ngModel)]="searchString">
        </div>
      </div>
    </form>
  </div>

  <!--HEADER-->
  <div class="fixed_header">
    <table class="table mt-3 table-hover table-fluid">
      <thead>
        <tr>
          <th>{{ 'opdrachtCrud.modal.title' | translate }}</th>
          <th class="text-center d-none d-md-table-cell">{{ 'opdrachtCrud.description' | translate }}</th>
          <th class="text-center">{{ 'opdrachtCrud.points' | translate }}</th>
          <th class="text-center">
            <button type="button" (click)="open(add)" class="btn btn-link addChangeDelBtn" placement="top" ngbTooltip="{{ 'opdrachtCrud.addNewAssignment' | translate }}"><i
                class="fas fa-plus-circle fa-lg"></i></button>
          </th>
        </tr>
      </thead>
      <!--OPDRACHTEN-->
      <tbody>
        <tr *ngFor="let opdracht of opdrachten | opdrachtFilter: searchString;">
          <td>
            <div>{{ opdracht.titel }}</div>
          </td>
          <td class="text-center d-none d-md-table-cell">{{ opdracht.omschrijving }}</td>
          <td class="text-center">{{ opdracht.punten }}</td>
          <td class="text-center">
            <button (click)="editAssignment(opdracht._id); open(edit)" class="btn addChangeDelBtn btn-link" placement="top"
              ngbTooltip="{{ 'opdrachtCrud.changeAssignment' | translate }}"><i class="fas fa-edit"></i></button>
            <button (click)="deleteAssignment(opdracht._id)" class="btn btn-link addChangeDelBtn" placement="top"
              ngbTooltip="{{ 'opdrachtCrud.deleteAssignment' | translate }}"><i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--MODAL ADD ASSIGNMENT-->
<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'opdrachtCrud.addNewAssignment' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AssignmentForm" (ngSubmit)="addAssignment()">
      <!--TITLE-->
      <div class="form-group">
        <label for="title">{{ 'opdrachtCrud.modal.title' | translate }}</label>
        <div class="input-group">
          <input id="title" formControlName="title" class="form-control" placeholder="{{ 'opdrachtCrud.modal.title' | translate }}"
            [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }" required />
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
            <div *ngIf="title.errors.required">Reward title is required.</div>
          </div>
        </div>

      </div>
      <!--DESCRIPTION-->
      <div class="form-group">
        <label for="description">{{ 'opdrachtCrud.modal.description' | translate }}</label>
        <div class="input-group">
          <input id="description" formControlName="description" class="form-control" placeholder="{{ 'opdrachtCrud.modal.description' | translate }}"
            [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }" required />
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
            <div *ngIf="description.errors.required">Reward title is required.</div>
          </div>
        </div>

      </div>
      <!--BEGINDATE-->
      <div class="form-group col-md-3">
        <label for="beginDate">{{ 'opdrachtCrud.modal.beginDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" formControlName="beginDate" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
            [ngClass]="{ 'is-invalid': beginDate.invalid && (beginDate.dirty || beginDate.touched) }" required />
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
          <div *ngIf="beginDate.invalid && (beginDate.dirty || beginDate.touched)" class="invalid-feedback">
            <div *ngIf="beginDate.errors.required">Reward title is required.</div>
          </div>
        </div>
      </div>
      <!--ENDDATE-->
      <div class="form-group col-md-3">
        <label for="endDate">{{ 'opdrachtCrud.modal.endDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" formControlName="endDate" placeholder="yyyy-mm-dd" ngbDatepicker #f="ngbDatepicker"
            [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }" required />
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="f.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
          <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
            <div *ngIf="endDate.errors.required">Reward title is required.</div>
          </div>
        </div>
      </div>
      <!--ASSIGNMENT TYPE-->
      <div class="form-group col-md-6">
        <label for="type">{{ 'opdrachtCrud.modal.type' | translate }}</label>
        <select class="form-control" id="type" formControlName="type" [ngClass]="{ 'is-invalid': type.invalid && (type.dirty || type.touched) }"
          required>
          <option *ngFor="let type of types" value="{{type._id}}">{{type.naam}}</option>
        </select>
        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="invalid-feedback">
          <div *ngIf="type.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--POINTS-->
      <div class="form-group">
        <label for="points">{{ 'opdrachtCrud.modal.points' | translate }}</label>
        <div class="input-group">
          <input id="points" formControlName="points" class="form-control" type="number" placeholder="{{ 'opdrachtCrud.modal.points' | translate }}"
            [ngClass]="{ 'is-invalid': points.invalid && (points.dirty || points.touched) }" required>
          <div *ngIf="points.invalid && (points.dirty || points.touched)" class="invalid-feedback">
            <div *ngIf="points.errors.required">Reward title is required.</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--SUBMIT-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addAssignment()" [disabled]="AssignmentForm.invalid">{{
      'opdrachtCrud.modal.save' |
      translate }}</button>
  </div>
</ng-template>
<!--MODAL EDIT ASSIGNMENT-->
<ng-template #edit let-modal>
  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">{{ 'opdrachtCrud.modal.edit' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AssignmentForm" (ngSubmit)="editAssignment()">
      <!--TITLE-->
      <div class="form-group">
        <label for="title">{{ 'opdrachtCrud.modal.title' | translate }}</label>
        <div class="input-group">
          <input id="title" formControlName="title" class="form-control" placeholder="{{ 'opdrachtCrud.modal.title' | translate }}"
            [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }" required />
        </div>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
          <div *ngIf="title.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--DESCRIPTION-->
      <div class="form-group">
        <label for="description">{{ 'opdrachtCrud.modal.description' | translate }}</label>
        <div class="input-group">
          <input id="description" formControlName="description" class="form-control" placeholder="{{ 'opdrachtCrud.modal.description' | translate }}"
            [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }" required />
        </div>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
          <div *ngIf="description.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--BEGINDATE-->
      <div class="form-group col-md-3">
        <label for="beginDate">{{ 'opdrachtCrud.modal.beginDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" formControlName="beginDate" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
            [ngClass]="{ 'is-invalid': beginDate.invalid && (beginDate.dirty || beginDate.touched) }" required />
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
        <div *ngIf="beginDate.invalid && (beginDate.dirty || beginDate.touched)" class="invalid-feedback">
          <div *ngIf="beginDate.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--ENDDATE-->
      <div class="form-group col-md-3">
        <label for="endDate">{{ 'opdrachtCrud.modal.endDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" formControlName="endDate" placeholder="yyyy-mm-dd" ngbDatepicker #f="ngbDatepicker"
            [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }" required />
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="f.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
        <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
          <div *ngIf="endDate.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--ASSIGNMENT TYPE-->
      <div class="form-group col-md-6">
        <label for="type">{{ 'opdrachtCrud.modal.type' | translate }}</label>
        <select class="form-control" id="type" formControlName="type" [ngClass]="{ 'is-invalid': type.invalid && (type.dirty || type.touched) }"
          required>
          <option *ngFor="let type of types" value="{{type._id}}">{{type.naam}}</option>
        </select>
        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="invalid-feedback">
          <div *ngIf="type.errors.required">Reward title is required.</div>
        </div>
      </div>
      <!--POINTS-->
      <div class="form-group">
        <label for="points">{{ 'opdrachtCrud.modal.points' | translate }}</label>
        <div class="input-group">
          <input id="points" formControlName="points" class="form-control" type="number" placeholder="{{ 'opdrachtCrud.modal.points' | translate }}"
            [ngClass]="{ 'is-invalid': points.invalid && (points.dirty || points.touched) }" required>
        </div>
        <div *ngIf="points.invalid && (points.dirty || points.touched)" class="invalid-feedback">
          <div *ngIf="points.errors.required">Reward title is required.</div>
        </div>
      </div>
    </form>
  </div>
  <!--SUBMIT-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editAssignment()" [disabled]="AssignmentForm.invalid">{{ 'opdrachtCrud.modal.save' |
      translate }}</button>
  </div>
</ng-template>