<div class="card">
  <div class="card-header">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="searchIcon"><i class="fas fa-search"></i></div>
          <input type="text" class="form-control col-md-2 searchField" name="searchString" placeholder="{{ 'rewardsCrud.search' | translate }}" [(ngModel)]="searchString">
        </div>
      </div>
    </form>
  </div>
  <div class="fixed_header">
    <table class="table mt-3 table-hover">
      <thead>
        <tr>
          <th>{{ 'opdrachtCrud.modal.title' | translate }}</th>
          <th class="text-center">{{ 'opdrachtCrud.description' | translate }}</th>
          <th class="text-center">{{ 'opdrachtCrud.points' | translate }}</th>
          <th class="text-center">
            <button type="button" (click)="open(add)" class="btn btn-link addChangeDelBtn" placement="top" ngbTooltip="{{ 'opdrachtCrud.addNewAssignment' | translate }}"><i class="fas fa-plus-circle fa-lg"></i></button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opdracht of opdrachten | opdrachtFilter: searchString;">
          <td>
            <div>{{ opdracht.titel }}</div>
          </td>
          <td class="text-center">{{ opdracht.omschrijving }}</td>
          <td class="text-center">{{ opdracht.punten }}</td>
          <td class="text-center">
            <button (click)="editAssignment(opdracht._id); open(edit)" class="btn addChangeDelBtn btn-link" placement="top" ngbTooltip="{{ 'opdrachtCrud.changeAssignment' | translate }}"><i class="fas fa-edit"></i></button>
            <button (click)="deleteAssignment(opdracht._id)" class="btn btn-link addChangeDelBtn" placement="top" ngbTooltip="{{ 'opdrachtCrud.deleteAssignment' | translate }}"><i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'opdrachtCrud.addNewAssignment' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">{{ 'opdrachtCrud.modal.title' | translate }}</label>
        <div class="input-group">
          <input id="title" name="title" class="form-control" placeholder="{{ 'opdrachtCrud.modal.title' | translate }}" [(ngModel)]="opdracht.title" />
        </div>
      </div>
      <div class="form-group">
        <label for="description">{{ 'opdrachtCrud.modal.description' | translate }}</label>
        <div class="input-group">
          <input id="description" name="description" class="form-control" placeholder="{{ 'opdrachtCrud.modal.description' | translate }}" [(ngModel)]="opdracht.description" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="beginDate">{{ 'opdrachtCrud.modal.beginDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="beginDate" [(ngModel)]="begin" ngbDatepicker #d="ngbDatepicker" #beginDate="ngModel" [(ngModel)]="opdracht.beginDate" required>
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="endDate">{{ 'opdrachtCrud.modal.endDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="eind" ngbDatepicker #f="ngbDatepicker" #endDate="ngModel" [(ngModel)]="opdracht.endDate" required>
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="f.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="type">{{ 'opdrachtCrud.modal.type' | translate }}</label>
        <select class="form-control" id="type" name="type" #type="ngModel" [(ngModel)]="opdracht.type" required>
          <option *ngFor="let type of types" value="{{type._id}}">{{type.naam}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="points">{{ 'opdrachtCrud.modal.points' | translate }}</label>
        <div class="input-group">
          <input id="points" name="points" class="form-control" type="number" placeholder="{{ 'opdrachtCrud.modal.points' | translate }}" [(ngModel)]="opdracht.points" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addAssignment()">{{ 'opdrachtCrud.modal.title' | translate }}</button>
  </div>
</ng-template>
<ng-template #edit let-modal>
  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">{{ 'opdrachtCrud.modal.edit' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">{{ 'opdrachtCrud.modal.title' | translate }}</label>
        <div class="input-group">
          <input id="title" name="title" class="form-control" placeholder="{{ 'opdrachtCrud.modal.title' | translate }}" [(ngModel)]="opdracht.title" />
        </div>
      </div>
      <div class="form-group">
        <label for="description">{{ 'opdrachtCrud.modal.description' | translate }}</label>
        <div class="input-group">
          <input id="description" name="description" class="form-control" placeholder="{{ 'opdrachtCrud.modal.description' | translate }}" [(ngModel)]="opdracht.description" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="beginDate">{{ 'opdrachtCrud.modal.beginDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="beginDate" [(ngModel)]="begin" ngbDatepicker #d="ngbDatepicker" #beginDate="ngModel" [(ngModel)]="opdracht.beginDate" required>
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="endDate">{{ 'opdrachtCrud.modal.endDate' | translate }}</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="eind" ngbDatepicker #f="ngbDatepicker" #endDate="ngModel" [(ngModel)]="opdracht.endDate" required>
          <div class="input-group-append">
            <button class="btn btn-outline calendar" (click)="f.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="type">{{ 'opdrachtCrud.modal.type' | translate }}</label>
        <select class="form-control" id="type" name="type" #type="ngModel" [(ngModel)]="opdracht.type" required>
          <option *ngFor="let type of types" value="{{type._id}}">{{type.naam}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="points">{{ 'opdrachtCrud.modal.points' | translate }}</label>
        <div class="input-group">
          <input id="points" name="points" class="form-control" type="number" placeholder="{{ 'opdrachtCrud.modal.points' | translate }}" [(ngModel)]="opdracht.points" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveEdit()">{{ 'opdrachtCrud.modal.save' | translate }}</button>
  </div>
</ng-template>
