<div class="card">
  <div class="card-header  text-center">
    <h3 class="leaderboard-title col-12">Approve assignements</h3>
    <div class="col-12">
      <div class="row">
        
        <div class="col-12" *ngIf="loading">
          <p>
            <ngb-progressbar value="250"></ngb-progressbar>
          </p>
        </div>

        <div *ngFor="let opdracht of (opdrachten$ | async)" class=" col-12 col-md-2" (click)="setOpdracht(opdracht)">
          <img src="../../assets/images/presentation.jpeg" alt="Presentation">
          <p>{{opdracht.titel}}</p>
        </div>
        <div class="col-12">
          <ngb-pagination class="paginator" [collectionSize]="(count$|async) / (pageSize/10)" [(page)]="currentPage"
            [maxSize]="3"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="opdracht" class="form-row">
      <div class="form-group col-md-12">
        <label for="title" class="text-left">Title:</label>
        <input type="text" id="title" placeholder="Title of the assignement" class="form-control" name="titel" #titel="ngModel"
          [(ngModel)]="opdracht.titel" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="beginDatum">Begin assignement:</label>
        <input class="form-control" name="beginDatum" value="{{beginDatum}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="eindDatum">End assignement:</label>
        <input class="form-control" name="eindDatum" value="{{eindDatum}}" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="typeNaam">Type assignement:</label>
        <input class="form-control" type="text" name="typeNaam" value="{{typeNaam}}" disabled>
      </div>
      <div class="form-group col-md-12">
        <label for="omschrijving">Description:</label>
        <textarea class="form-control" name="omschrijving" rows="4" #description="ngModel" [(ngModel)]="opdracht.omschrijving"
          disabled>{{opdracht.omschrijving}}</textarea>
      </div>
    </div>
  </div>
  <div class="card-footer">
      <div class="">
        <label *ngIf="opdracht" for="punten">Punten:</label>
        <input *ngIf="opdracht" type="number" class="form-control" name="punten" #punten="ngModel" [(ngModel)]="opdracht.punten" value="0">
      </div>
      <div class="text-right">
        <button class="btn btn-success" type="submit" (click)="submit()">Approve</button>
        <button class="btn btn-danger" type="reset" (click)="disapprove()">Disapprove</button>
      </div>
  </div>
</div>
