<div class="card">
  <div class="card-header  text-center">
    <h3 class="leaderboard-title col-12">{{ "approve.head" | translate}}</h3>
    <div class="col-12">
      <div class="row">
        
        <div class="col-12" *ngIf="loading">
          <p>
            <ngb-progressbar value="250"></ngb-progressbar>
          </p>
        </div>

        <div *ngFor="let opdracht of (opdrachten$ | async)" class=" col-12 col-md-2 opdracht" (click)="setOpdracht(opdracht)">
          <img src="../../assets/images/placeholderUser.png" alt="Presentation">
          <p>{{opdracht.titel.substring(0, 20)}}</p>
        </div>
        <div class="col-12 pagination">
          <ngb-pagination class="paginator" [collectionSize]="(count$|async) / (pageSize/10)" [(page)]="currentPage"
            [maxSize]="3"></ngb-pagination>
        </div>
        <div class="col-12 text-center" *ngIf="!opdracht">
          <p>{{ "approve.helpline" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="opdracht" class="form-row">
      <div class="form-group col-md-12">
        <label for="title" class="text-left">{{ "approve.title" | translate}}</label>
        <input type="text" id="title" placeholder="Title of the assignement" class="form-control" name="titel" #titel="ngModel"
          [(ngModel)]="opdracht.titel" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="beginDatum">{{ "approve.beginDate" | translate}}</label>
        <input class="form-control" name="beginDatum" value="{{beginDatum}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="eindDatum">{{ "approve.endDate" | translate}}</label>
        <input class="form-control" name="eindDatum" value="{{eindDatum}}" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="typeNaam">{{ "approve.type" | translate}}</label>
        <input class="form-control" type="text" name="typeNaam" value="{{typeNaam}}" disabled>
      </div>
      <div class="form-group col-md-12">
        <label for="omschrijving">{{ "approve.description" | translate}}</label>
        <textarea class="form-control" name="omschrijving" rows="4" #description="ngModel" [(ngModel)]="opdracht.omschrijving"
          disabled>{{opdracht.omschrijving}}</textarea>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="opdracht">
    <form #contactForm="ngForm" (ngSubmit)="submit()" class="needs-validation" novalidate>
      <div class="">
        <label for="punten">{{ "approve.points" | translate}}</label>
        <input type="number" class="form-control" name="punten" #punten="ngModel" [(ngModel)]="opdracht.punten" value="0" required>
      </div>
      <div class="text-right">
        <p *ngIf="!contactForm.form.valid" class="badge badge-danger">{{ "approve.error" | translate}}</p>
        <button class="btn btn-success" type="submit" (click)="submit()" [disabled] = "!contactForm.form.valid">{{ "approve.submit" | translate}}</button>
        <button class="btn btn-danger" type="reset" (click)="disapprove()">{{ "approve.delete" | translate}}</button>
      </div>
    </form>
  </div>
</div>
